# Functions

#### Functions without arguments

In [76]:
# Multiples if 5

def multiples():
    """
    This function computes all the first 9 multiples of 5.
    Input: x.
    Output: x times n, for n <= 9
    """

    n = 1
    while n <= 9:
        product = 5 * n
        print(n, "X", 5, "=", product)
        
        n = n + 1

In [77]:
multiples()

1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45

In [78]:
def multiples():
    """This function computes all the first 9 multiples of 5."""
    for i in range(1, 10):
        print(f"5 x {i} = {5 * i}")
multiples()

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

#### Definition of a function whose arguments are parameters

In [79]:
def multiples(x):
    """
    This function computes all the first 9 multiples of any given number.
    Input: x.
    Output: x times n, for n <= 9
    """

    n = 1
    while n <= 9:
        
        product = x * n
        print(n, "X", x, "=", product)
        
        n = n + 1

In [80]:
multiples(7)

1 X 7 = 7
2 X 7 = 14
3 X 7 = 21
4 X 7 = 28
5 X 7 = 35
6 X 7 = 42
7 X 7 = 49
8 X 7 = 56
9 X 7 = 63

In [81]:
x = int(input("Enter a number: "))

def multiples(x):
    """This function computes all the first 9 multiples of any given number."""
    for i in range(1, 10):
        print(f"{x} x {i} = {x * i}")
multiples(x)

Enter a number: 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

#### One or More Parameters, No Return

In [97]:
def multiples(base, start, end):
    """This string still computes the first 9 multiples of any given number"""
    print(f"Multiples of {base}")
    print(f"{'Number':<10}{'Result':<10}")
    print("-" * 16)
    for n in range(start, end + 1):
        print(f"{n: < 10}{n * base: < 10}")

In [98]:
multiples(2,1,10)

Multiples of 2
Number    Result
----------------
 1         2
 2         4
 3         6
 4         8
 5         10
 6         12
 7         14
 8         16
 9         18
 10        20

#### Single parameters and returns

In [7]:
def square(x):
    """
    This function calculates the square of any given number. 
    Input: x. 
    Output: x squared
    """
    
    result = x**2
    
    return result

In [8]:
square(6)

36

In [9]:
type(square)

function

In [11]:
square.__doc__ #double underscore

'\n    This function calculates the square of any given number. \n    Input: x. \n    Output: x squared\n    '

#### Multiple parameters and returns

In [12]:
def total(x,y):
    """
    This function calculates the sum of any given number. 
    Input: x and y. 
    Output: the sum of x and y.
    """
    
    return x,y,x+y

In [14]:
total(1,2)

(1, 2, 3)

#### Recursions

In [15]:
#basic example (calculating the factorial of any number)

def factorial(n):
    if n <= 1:   #base case
        return 1
    return n * factorial(n-1) #recursive steps

In [18]:
fact(10)

3628800

In [99]:
# recursive function that computes the fibonnaci sequence defined by F(0)=0, F(1)=1, F(n-1)+ F(n-2), for n \geq 2.

def fibonacci(n):
    if n == 0:
        return 0
    if n ==1:
        return 1
    return fibonacci(n-1) + fibonacci(n-2)

In [100]:
fibonacci(5)

5

In [111]:
# Geometric sequence

a0 = 1
r = 3

def geometric(n,a0,r):
    if n == 0:
        return a0
    return r * geometric(n-1, a0, r)

print([geometric(i,a0,r) for i in range(8)])

[1, 3, 9, 27, 81, 243, 729, 2187]