

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

In [91]:
x = 10

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

In [ ]:
is_valid = True

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

In [90]:
name = "Python Programming"

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

In [88]:
a = 5
b = 3
sum_result = a + b

sum_result

8

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

In [87]:
a, b, c = 5, 10, 15

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

In [82]:
x = 2
y = x

y

2

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

In [92]:
gravity = 9.8

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

In [93]:
country = "Botswana"

---

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

In [78]:
age = 25
age = 26

age

26

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

In [84]:
a = 20
b = 7
difference = a - b

difference

13

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

In [74]:
a = 5
b = 5.0

In [75]:
type(a)

int

In [76]:
type(b)

float

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

In [70]:
is_completed = False

is_completed

False

In [71]:
type(is_completed)

bool

---

### Exercise 13:
Swap the values of two variables `x` and `y`.

In [96]:
x = 1
y = 2

tmp = x
x = y
y = tmp

del tmp

x, y

(2, 1)

---

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

In [63]:
complex_num = 3 + 4j

complex_num

(3+4j)

In [64]:
type(complex_num)

complex

---

### Exercise 15:
Reassign a variable from an integer to a string.

In [99]:
a = 5
a = str(a)

In [100]:
type(a)

str

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

In [97]:
first_name, last_name = "Angelah", "Gaolatlhe"

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

In [98]:
temperature = 35.5

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

In [57]:
a = 8
b = 6
product = a*b

product

48

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

In [101]:
sentence = "I am kinda good at this, lol"

---

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

In [102]:
string = "50"
int_value = int(string)

In [53]:
type(int_value)

int

---

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

In [54]:
a = 144
b = 12
quotient = a/b

quotient

12.0

---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

In [55]:
a = 47
b = 5
remainder = a%b

remainder

2

---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

In [103]:
is_student = "True"

---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

In [44]:
a = 45
b = 4
remainder = a % b

remainder

1

---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

In [104]:
pi = 3.14159

---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

In [42]:
length = 4
width = 2
area = length * width

area

8

---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

In [105]:
negative_value = -2

---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

In [106]:
greeting = "Hello, Angelah!"

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

In [107]:
population = 12345678901

In [108]:
type(population)

int

---

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

In [34]:
a = 2
b = 8
c = pow(a, b)

c

256

---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

In [33]:
fruits = ["banana", "grapes"]

fruits

['banana', 'grapes']

---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

In [32]:
coordinates = (1, 2, 3)

coordinates

(1, 2, 3)

---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

In [109]:
person = {"name": "Angelah", "age": 23}

---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

In [29]:
a = 1.7
b = 0.3
c = a + b

c

2.0

---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

In [30]:
a = 10
b = 5
is_sunny = a > b

is_sunny

True

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

In [31]:
a = 2
b = "boys"
c = str(a) + " " + b

c

'2 boys'

---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

In [115]:
a = 2
a = a==2

a

True

In [116]:
type(a)

bool

---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

In [117]:
is_weekend = False

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

In [118]:
description = "My name is Angelah. I am a girl."

---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

In [123]:
a = -25
absolute_value = abs(a)

absolute_value

25

---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

In [120]:
a = 100
b = 6
floor_div_result = a // b

floor_div_result

16

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

In [121]:
a = 2.1
b = 3
mixed_sum = a + b

mixed_sum

5.1

---


### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

In [8]:
a = 10
b = 15

a == b

False

---

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

In [122]:
introduction = """Well, in a case like this, i think the professor should say, "good job Angelah"."""

len(introduction)

80

---

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

In [124]:
a = 7
b = 3
division_result = a/b

division_result

2.3333333333333335

---

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

In [129]:
speed = 100
units = "km/h"

---

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

In [126]:
x = 4
y = 3*x + 5

y

17

---

### Exercise 48:
Use variables to calculate and store the average of three numbers.

In [128]:
a = 1
b = 3
c = 4
d = (a+b+c)/3

d

2.6666666666666665