# Variables, types, assignments, strings and files

### By: [Angelah Kgato Gaolatlhe](https://github.com/gaolatlheangelah-jpg)

>**Summary:** This notebook contains basic codes on how to declare `variables` and assign `types` to variables. It also contains practice codes on `strings`. Reference is made to [YaÃ© Ulrich Gaba](https://github.com/gabayae)'s lecture 1 & 2 notes titled `Python Proficiency for Scientific Computing and Data Science (PyPro-SCiDaS)`; `An Initiation to Programming using Python (Init2Py)`.

## Variables, types and assignments

### Direct assignment

In [81]:
my_name = "Angelah"
my_surname = "Gaolatlhe"
my_age =23

print (my_name)
print (my_surname)
print (my_age)

Angelah
Gaolatlhe
23

In [82]:
print (my_name, my_surname, my_age)

Angelah Gaolatlhe 23

### Multiple assignments

In [83]:
a = b = 1

print (a, b)

1 1

### Parallel assignments

In [84]:
my_name, my_surname = "Angelah", "Gaolatlhe"

print (my_surname)
print (my_name)

Gaolatlhe
Angelah

### Define a variable based on other variables

In [85]:
a,b,c = 1,2,3
d = (a+b)/c

print(d)

1.0

### Keywords

In [4]:
!pip install keywords

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: keywords in /home/students-aimssn/.local/lib/python3.10/site-packages (0.0.1)

In [2]:
import keyword

print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Swapping two variables

### Using parallel assignment

In [92]:
my_name = "Angelah"
my_age = 23

my_name, my_age = my_age, my_name

print (my_name)

23

### Using auxillary variable tmp

In [94]:
my_name = "Angelah"
my_age = 23

tmp = my_name
my_name = my_age
my_age = tmp

print (my_age)

Angelah

### Deleting a variable using function del

In [97]:
my_age = 23
print (my_age)

23

In [98]:
del my_age
print (my_age)

NameError: name 'my_age' is not defined

### Variable types

In [100]:
my_name = "Angelah"
my_age = 23
my_height = 1.62


print (type (my_name), type (my_age), type (my_height))

<class 'str'> <class 'int'> <class 'float'>

In [101]:
type (my_height)

float

In [102]:
i_am_a_girl = True

type (i_am_a_girl)

bool

In [105]:
number = 2j

print (type (number))

<class 'complex'>

## Strings and files

### Use of quotation marks

In [58]:
line_1 = "What is your name?" 
line_2 = 'She replied, "Angelah".'
line_3 = "Hello Angelah, nice to meet you."
line_4 = """Do you now understand the use of '',"", and thriple quotation marks? """

print (line_1)
print ("****************************************************************")
print ('\t')

print (line_2)
print ("****************************************************************")
print ('\t')

print (line_3)
print ("****************************************************************")
print ('\t')

print (line_4)

What is your name?
****************************************************************

She replied, "Angelah".
****************************************************************

Hello Angelah, nice to meet you.
****************************************************************

Do you now understand the use of '',"", and thriple quotation marks?

### Indexing

In [41]:
my_name = "Angelah"

In [39]:
print (my_name[2])

g

In [38]:
print (my_name[-1])

h

In [36]:
print (my_name[-4])

e

### Slicing

In [24]:
my_name = "Angelah"

In [35]:
print (my_name[::])

Angelah

In [34]:
print (my_name[::-1])

halegnA

In [33]:
print (my_name[0:2])

An

In [32]:
print (my_name[2::2])

glh

### Length of a string

In [40]:
occupation = "I am a student at AIMS Senegal"

In [42]:
print (len (occupation))

30

In [46]:
print (len (occupation[0:13:2]))

7

### Addition of strings (Concatenation)

In [49]:
my_first_name = "Angelah"
my_middle_name = "Kgato"
my_last_name= "Gaolatlhe"

In [54]:
my_full_name = my_first_name + " " + my_middle_name + " " + my_last_name
print (my_full_name)

Angelah Kgato Gaolatlhe

### Concatenating a string and a numeric value

In [56]:
my_first_name = "Angelah"
my_middle_name = "Kgato"
my_last_name= "Gaolatlhe"
my_age = 23

In [66]:
intro = my_first_name + " " + my_middle_name + " " + my_last_name + " " + str(my_age)
print (intro)

Angelah Kgato Gaolatlhe 23

### Methods

In [68]:
first_name, second_name= "Angelah", "Kgato"
names = first_name + " and " + second_name

print (names)

Angelah and Kgato

In [69]:
print (names.replace ("and", "&"))

Angelah & Kgato

In [70]:
print ("Gaolatlhe" in names)

False

In [72]:
print (names.find ("Kgato"))

12

In [77]:
print (names.center (100, " "))

                                         Angelah and Kgato

In [78]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']