## Lists

In [28]:
my_list_1 = ["Angelah", "Kgato", "Gaolatlhe", 23, 1.62]

In [29]:
print(my_list_1)

['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62]

In [30]:
type(my_list_1)

list

In [31]:
type(my_list_1[-1])

float

In [32]:
my_list_2 = ["Matthews", "Kutlo", "Gaolatlhe", 28, 1.69]
my_list_3 = ["Snow", "Senono", 23, 1.58]

In [33]:
my_family = [my_list_1, my_list_2, my_list_3]

In [34]:
my_family

[['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62],
 ['Matthews', 'Kutlo', 'Gaolatlhe', 28, 1.69],
 ['Snow', 'Senono', 23, 1.58]]

In [35]:
type(my_family)

list

In [36]:
me_and_snow = ["Angelah", "Kgato", "Gaolatlhe", 23, 1.62, my_list_3]
me_and_snow

['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62, ['Snow', 'Senono', 23, 1.58]]

In [37]:
me_and_snow[5]

['Snow', 'Senono', 23, 1.58]

In [38]:
me_and_snow[5][-1]

1.58

In [39]:
type(me_and_snow[-1])

list

#### Combining lists

In [48]:
list_1 = ["Angelah", "Kgato", "Gaolatlhe", 23, 1.62]
list_2 = ["AIMS Senegal", "Python", 14]

In [49]:
list_1 + list_2

['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62, 'AIMS Senegal', 'Python', 14]

In [50]:
list_2 + list_1

['AIMS Senegal', 'Python', 14, 'Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62]

In [57]:
list_1 + list_1

['Angelah',
 'Kgato',
 'Gaolatlhe',
 23,
 1.62,
 7,
 2,
 [2],
 'Angelah',
 'Kgato',
 'Gaolatlhe',
 23,
 1.62,
 7,
 2,
 [2]]

In [51]:
list_1.append(7)
list_1

['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62, 7]

In [52]:
list_1.extend(2)

TypeError: 'int' object is not iterable

In [53]:
?list_1.extend

In [54]:
list_1.extend([2])
list_1

['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62, 7, 2]

In [55]:
list_1.append([2])
list_1

['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62, 7, 2, [2]]

In [56]:
3 * list_2

['AIMS Senegal',
 'Python',
 14,
 'AIMS Senegal',
 'Python',
 14,
 'AIMS Senegal',
 'Python',
 14]

In [59]:
3 * list_2 == list_2 + list_2 + list_2

True

In [60]:
1.5 + list_2

TypeError: unsupported operand type(s) for +: 'float' and 'list'

## Dictionaries: key & values

In [70]:
dict_1 = {"me" : ["Angelah", "Kgato", "Gaolatlhe", 23, 1.62], "brother" : ["Matthews", "Kutlo", "Gaolatlhe", 28, 1.69]}
dict_1

{'me': ['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62],
 'brother': ['Matthews', 'Kutlo', 'Gaolatlhe', 28, 1.69]}

In [71]:
dict_1["me"]
# me is a key
# dict_1["me"] will print values of "me"

['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62]

In [72]:
dict_1["friend"] = ["Snow", "Senono", 23, 1.58]
dict_1

{'me': ['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62],
 'brother': ['Matthews', 'Kutlo', 'Gaolatlhe', 28, 1.69],
 'friend': ['Snow', 'Senono', 23, 1.58]}

In [73]:
dict_1["friend"] = ["Katlo", "Motlhabane", 24, 1.61]
dict_1

{'me': ['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62],
 'brother': ['Matthews', 'Kutlo', 'Gaolatlhe', 28, 1.69],
 'friend': ['Katlo', 'Motlhabane', 24, 1.61]}

In [76]:
dict_1 = {"me" : ["Angelah", "Kgato", "Gaolatlhe", 23, 1.62], 
          "brother" : ["Matthews", "Kutlo", "Gaolatlhe", 28, 1.69],
          "friend" : ["Snow", "Senono", 23, 1.58],
          "friend" : ["Katlo", "Motlhabane", 24, 1.61]}
dict_1
# dict_1 will run the 'last' friend i.e Katlo

{'me': ['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62],
 'brother': ['Matthews', 'Kutlo', 'Gaolatlhe', 28, 1.69],
 'friend': ['Katlo', 'Motlhabane', 24, 1.61]}

In [77]:
dict_1.items()

dict_items([('me', ['Angelah', 'Kgato', 'Gaolatlhe', 23, 1.62]), ('brother', ['Matthews', 'Kutlo', 'Gaolatlhe', 28, 1.69]), ('friend', ['Katlo', 'Motlhabane', 24, 1.61])])

In [78]:
dict_1.keys()

dict_keys(['me', 'brother', 'friend'])

In [1]:
my_neighbours = {"girl" : ["Mareme", "Diop", 23, 1.63]}
boys = {"boy_1" : ["Roy", "Aballo", 25, 1.62], "boy_2" : ["Wandiya", "James", 23, 1.65] }

In [84]:
?my_neighbours.update

In [86]:
my_neighbours.update(boys)
my_neighbours

{'girl': ['Tiaretie', 'Diop', 23, 1.63],
 'boy_1': ['Roy', 'Aballo', 25, 1.62],
 'boy_2': ['Wandiya', 'James', 23, 1.65]}